ClientApp/ClientApp/Connected Services/MusicService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MusicService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MusicService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Music">
    <xs:sequence>
      <xs:element minOccurs="0" name="Album" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Artist" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ReleaseYear" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SongName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Music" nillable="true" type="tns:Music" />
</xs:schema>